/* ************************************************** !!
/* CSS CONTENTS ----------------------------------------
--------------------------------------------------------
--| General
--| Navbar
--| Search Form
--| [SECTION] Above the Fold
--| [SECTION] Features
--| [SECTION][RESULTS PAGE] Result
--| [SECTION][RESULTS PAGE] Search Again
--| Footer
--------------------------------------------------------
----------------------------------------------------- */
/* ************************************************************
***************************************************************
--- General ---
***************************************************************
************************************************************ */
body {
  font-family: 'Lato', sans-serif;
  color: #000;
  font-size: 18px;
}

h1 {
  font-size: 52px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h3,
h5 {
  font-size: 22px;
}

h4 {
  font-size: 32px;
}

h3,
h4,
h5 {
  font-weight: bold;
  color: #004A80;
}

section {
  padding: 40px 0 52px;
}

.text-primary {
  color: #004A80 !important;
}

.text-secondary {
  color: #4A4A4A !important;
}

@media (max-width: 991px) {
  h1 {
    font-size: 48px;
  }
  h2,
  h3,
  h5 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 16px;
  }
}

/* ************************************************************
***************************************************************
--- Navbar ---
***************************************************************
************************************************************ */
.navbar {
  background: #004A80;
  padding: 20px 15px;
}

.navbar-brand {
  padding: 0;
  width: 173px;
}

.navbar__search-icon {
  width: 23px;
}

/* ************************************************************
***************************************************************
--- Search Form ---
***************************************************************
************************************************************ */

.form-row {
  margin-right: -10px;
  margin-left: -10px;
}
.form-row > .col,
.form-row > [class*=col-] {
  padding-right: 10px;
  padding-left: 10px;
}

.form-group {
  margin-bottom: 12px;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 6px;
  color: #004A80;
  outline: 0;
  background-image: linear-gradient(225deg, #F2DA56 0%, #F6BC25 100%);
  box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
  appearance: none;
  -webkit-appearance: none;
}

.form-control {
  height: 50px;
  background: #FFF;
  box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.20);
  border-radius: 3px !important;
  font-size: 22px;
}

.form-control:focus {
  box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.20);
}

.form-control.error {
  border: 3px solid #DC0015;
  border-radius: 3px 3px 0 0 !important;
}

.form-group__error-message {
  padding: 4px 12px;
  display: none;
  font-size: 16px;
  border-radius: 0 0 3px 3px;
  color: #FFF;
  background: #DC0015;
}

.form-control.error + .form-group__error-message {
  display: block;
}

.form-control::placeholder {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9B9B9B;
}

.form-subtext {
  font-size: 16px;
  color: #FFF;
  margin: 0 0 0 15px;
  line-height: normal;
}

@media (min-width: 768px) {
  .form-control,
  .btn {
    height: 70px;
  }
  .form-group__error-message {
    position: absolute;
  }
}

/* ************************************************************
***************************************************************
--- [SECTION] Above the Fold ---
***************************************************************
************************************************************ */
.above-the-fold {
  background: #004A80;
  padding-top: 24px;
}

.above-the-fold .headline {
  max-width: 780px;
  margin: 0 auto;
}

/* ************************************************************
***************************************************************
--- [SECTION] Features ---
***************************************************************
************************************************************ */
.features {
  background-image: linear-gradient(0deg, #E6E6E6 0%, #FFFFFF 100%);
}

.features .headline {
  margin-bottom: 40px;
}

.features h2 {
  line-height: 30px;
}

.list-item {
  margin-bottom: 28px;
}

.list-circle {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  line-height: 90px;
  background: #004A80;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #F6BC25;
  flex: 0 0 90px;
  margin-right: 20px;
}

.list-text p {
  margin: 0;
  line-height: 26px;
}

@media (max-width: 991px) {
  .features .headline {
    margin-bottom: 28px;
  }
  .features h2 {
    line-height: 28px;
  }
  .list-item {
    margin-bottom: 20px;
  }
  .list-circle {
    width: 63px;
    height: 63px;
    line-height: 63px;
    flex: 0 0 63px;
    font-size: 33.6px;
  }
  .list-text p {
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .features .headline {
    margin-bottom: 20px;
  }
  .list-item {
    margin-bottom: 16px;
  }
  .list-circle {
    width: 50.4px;
    height: 50.4px;
    line-height: 50.4px;
    flex: 0 0 50.4px;
    font-size: 26.88px;
    margin-right: 10.6px;
  }
}

/* ************************************************************
***************************************************************
--- [SECTION][RESULTS PAGE] Result ---
***************************************************************
************************************************************ */
.result {
  background: #F8F8F8;
  min-height: 455px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-wrap {
  display: none;
}

.result-card {
  max-width: 980px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  border-radius: 30px;
  padding: 40px;
  margin: 40px auto;
}

.result-avatar {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  line-height: 86px;
  background: #004A80;
  text-align: center;
  flex: 0 0 90px;
  margin-right: 20px;
}

.result-desc {
  color: #4A4A4A;
}

@media (max-width: 991px) {
  .result {
    min-height: 512px;
  }
  .result-avatar {
    width: 63px;
    height: 63px;
    line-height: 58px;
    flex: 0 0 63px;
  }
  .result-avatar img {
    width: 28px;
  }
}

@media (max-width: 767px) {
  .result {
    min-height: 306px;
  }
  .result-avatar {
    display: none;
  }
}

/* ************************************************************
***************************************************************
--- [SECTION][RESULTS PAGE] Search Again ---
***************************************************************
************************************************************ */
.search-again {
  background: #004A80;
}

@media (min-width: 992px) {
  .search-again {
    padding: 80px 0;
  }
}

@media (max-width: 767px) {
  .search-again {
    padding: 40px 0;
  }
}

/* ************************************************************
***************************************************************
--- Footer ---
***************************************************************
************************************************************ */
.footer {
  padding: 16px 0;
}

.footer p {
  font-size: 15px;
  color: #999;
  line-height: 20px;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  color: #004A80;
}

.footer a:first-of-type:after {
  content: '|';
  padding-left: 5px;
}
