/* ************************************************** !!
/* CSS CONTENTS ----------------------------------------
--------------------------------------------------------
--| General
--| Form Switch
--| [SECTION] Header
--| [SECTION] Features
--| [SECTION][RESULTS PAGE] Searching
--| [SECTION][RESULTS PAGE] Result
--| Footer
--------------------------------------------------------
----------------------------------------------------- */
/* ************************************************************
***************************************************************
--- General ---
***************************************************************
************************************************************ */
body {
  font-family: 'Lato', sans-serif;
  color: #000;
  font-size: 18px;
}

h1 {
  font-size: 52px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h3,
h5 {
  font-size: 22px;
}

h4 {
  font-size: 32px;
}

h3,
h4,
h5 {
  font-weight: bold;
  color: #004A80;
}

a {
  color: #004A80;
}

ul {
  padding: 0;
  list-style-type: none;
}

header {
  padding: 24px 0 52px;
}

section {
  padding: 40px 0 52px;
}

.initially-hidden {
  display: none;
}

@media (max-width: 991px) {
  h1 {
    font-size: 48px;
  }
  h2,
  h3,
  h5 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 16px;
  }
}

/* ************************************************************
***************************************************************
--- Form Switch ---
***************************************************************
************************************************************ */
.form-switch {
  margin: 0 -3px 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-switch__label {
  display: none;
}

.btn.form-switch__btn {
  width: auto;
  height: auto;
  margin: 0 3.5px;
  position: relative;
  padding: 3px 11px;
  font-size: 14px;
  color: #F6BC25;
  border: 3px solid #F6BC25;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

.btn.form-switch__btn.active {
  color: #004A80;
  background-color: #F6BC25;
}

.btn.form-switch__btn.active::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #F6BC25;
  transform: translate(-50%, 100%);
}

@media (min-width: 768px) {
  .form-switch {
    margin: 0 0 21px;
    justify-content: flex-start;
  }

  .form-switch__label {
    margin-right: 14px;
    padding: 3px 7px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFF;
  }
  .btn.form-switch__btn {
    margin: 0 10px;
    font-size: 16px;
  }
}





/* ************************************************************
***************************************************************
--- [SECTION] Header ---
***************************************************************
************************************************************ */
.header__headline {
  max-width: 780px;
  margin: 0 auto;
}

.header__help-text {
  font-size: 16px;
  color: #FFF;
  margin: 0 0 0 15px;
  line-height: normal;
}

/* ************************************************************
***************************************************************
--- [SECTION] Features ---
***************************************************************
************************************************************ */
.features__subtitle {
  line-height: 28px;
  color: #4A4A4A;
}

.feature-item {
  margin-bottom: 16px;
  display: flex;
}

.feature-item__circle {
  width: 50.4px;
  height: 50.4px;
  margin-right: 10.6px;
  flex: 0 0 50.4px;
  text-align: center;
  line-height: 50.4px;
  font-size: 26.88px;
  font-weight: bold;
  border-radius: 50%;
  color: #F6BC25;
  background: #004A80;
}

.feature-item__description {
  margin: 0;
  line-height: 24px;
}

@media (min-width: 768px) {
  .features-item {
    margin-bottom: 20px;
  }
  .feature-item__circle {
    width: 63px;
    height: 63px;
    margin-right: 20px;
    flex: 0 0 63px;
    line-height: 63px;
    font-size: 33.6px;
  }
  .feature-item__description {
    line-height: 26px;
  }
}

@media (min-width: 992px) {
  .features__subtitle {
    align-items: center;
    line-height: 30px;
  }
  .feature-item {
    margin-bottom: 28px;
  }
  .feature-item__circle {
    width: 90px;
    height: 90px;
    flex: 0 0 90px;
    line-height: 90px;
    font-size: 48px;
  }
}

/* ************************************************************
***************************************************************
--- [SECTION][RESULTS PAGE] Searching ---
***************************************************************
************************************************************ */
.searching-section {
  min-height: 640px;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 124px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (min-height: 768px) {
  .searching-section {
    min-height: 873px;
  }
  .loading-spinner {
    width: 154px;
  }
}

@media (min-height: 991px) {
  .searching-section {
    min-height: 896px;
  }
}

/* ************************************************************
***************************************************************
--- [SECTION][RESULTS PAGE] Result ---
***************************************************************
************************************************************ */
.search-result-section {
  min-height: 306px;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-card {
  max-width: 980px;
  margin: 40px auto;
  padding: 24px 15px;
  display: flex;
  border-radius: 30px;
  background-color: #FFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

.result-card__avatar {
  display: none;
}

.result-card__avatar img {
  width: 28px;
}

@media (min-width: 768px) {
  .search-result-section {
    min-height: 512px;
  }
  .result-card {
    padding: 40px;
  }
  .result-card__avatar {
    width: 63px;
    height: 63px;
    margin-right: 10px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #004A80;
  }
}

@media (min-width: 992px) {
  .search-result-section {
    min-height: 455px;
  }
  .result-card__avatar {
    width: 90px;
    height: 90px;
    margin-right: 20px;
  }
  .result-card__avatar img {
    width: 40px;
  }
}

/* ************************************************************
***************************************************************
--- Footer ---
***************************************************************
************************************************************ */
footer {
  padding: 16px 0;
}

.footer__text {
  font-size: 15px;
  color: #999;
  line-height: 20px;
}

.footer__terms_and_privacy {
  font-size: 14px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer__terms_and_privacy {
    text-align: right;
  }
}
